.header{
    text-align: center;
    letter-spacing: 1.5ch;
    font-weight: 700;
    font-size: 25px;
}
.billContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 90%;
}
.billFormWrapper{
    width: 40%;
    height: 90%;
    border: 1px solid red;
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
}
.billBoxWrapper{
    width: 40%;
    height: 90%;
    border: 1px solid red;
    border-radius: 10px;
    background-color: hsl(183, 100%, 15%);
    margin: 1%;
}
.resetButton{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    padding: 2%;
    font-size: 20px;
    width: 90%;
    border-radius: 5px;
}
.inputBox{
    height: 5vh;
    width: 95%;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    border: none;
}